<div class="Text1">
<p>Welcome to Spotify! Spotify is a proprietary Swedish audio streaming and media services provider founded on 23 April 2006 by Daniel Ek and Martin Lorentzon. It is one of the largest music streaming service providers, with over 489 million monthly active users, including 205 million paying subscribers, as of December 2022.
</p>
</div>
<div class="SP">
  <img src="https://imageio.forbes.com/specials-images/imageserve/623c84cae6bc254efa4c7f98/Spotify-logo-displayed-on-a-phone-screen-and-headphones-are-seen-in-this-illustration/0x0.jpg?format=jpg&crop=3543,1993,x0,y181,safe&width=960">
</div>

